{
    "PO_WIN64"  :  "https://potrace.sourceforge.net/download/1.16/potrace-1.16.win64.zip",
    "PO_LINUX64": "https://potrace.sourceforge.net/download/1.16/potrace-1.16.linux-x86_64.tar.gz",
    "PO_OSX64"  : "https://potrace.sourceforge.net/download/1.16/potrace-1.16.mac-x86_64.tar.gz"
}
