.vectorstudio-iframe body {
  overflow: hidden;
}

#vectorstudio-iframe {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/*img[src$=".svg"], img[src^="data:image/svg"] {*/
.vs_svg_bg_0 {
    background: none;
}

.vs_svg_bg_1 {
  background: white;
}

.vs_svg_bg_2 {
  background: black;
}

.vs_svg_bg_3 {
  background-image:
    linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2)),
    linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2));
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;

}